*~
*.bak
Thumbs.db
desktop.ini
composer.lock
.DS_Store
.buildpath
.project
.settings
.tmpoj
.idea
nbproject/
fuelphp/*/resources/logs/
fuelphp/*/resrouces/cache/
fuelphp/.composer/
fuelphp/twig/
fuelphp/dflydev/
