*~
*.bak
Thumbs.db
desktop.ini
composer.lock
.DS_Store
.buildpath
.project
.settings
.tmpoj
.idea
nbproject/
fuelphp/.composer/
fuelphp/autoload.php
fuelphp/composer/
fuelphp/fuel/
fuelphp/doctrine/
fuelphp/twig/
fuelphp/app/resources/cache/
fuelphp/app/resources/logs/
fuelphp/app/resources/tmp/
